.container {
    color: blueviolet;
}
div h2 {
    background-color: brown;
}
div h1:focus {
    background-color: cadetblue;
}
input:focus{
    background-color: chartreuse;
}
 p::first-letter{
    font-size: 80px;
    color: red;
 }